.wrapper {
  width: 100vw;
  height: 100vh;
}
.site-layout-background .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.sider-logo {
  height: 32px;
  //   background: rgba(255, 255, 255, 0.2);
  padding: 0 24px;
  margin: 16px 0;
  overflow: hidden;
  cursor: pointer;
}
.mock-block {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.site-layout .site-layout-background {
  background: #fff;
  margin-top: 2px;
}

.logo-h {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #1890ff;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
  animation: fade-in;
  animation-duration: 0.3s;
}
